@use "../../styles/partials/mixins";

.background-container {
  background-image: url("../../assets/images/IMG_1EADC04B57B3-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36rem;
}
