@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("../../assets/font/alternative-files/AvenirNextLTPro.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("../../assets/font/alternative-files/AvenirNextLTProBold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}
