// GMAIL HEADER
$top-navbar: #f1f1f1;
$compose-btn: #ce322a;
$compose-btn-text: #ffffff;
$menu-hamburger: #616161;

// CTA INITIAL STATE
$bard-header-bg: #4285f4;
$bard-btn-cta: #c6dafc;
$bard-btn-text: #4285f4;

// CTA ACTIVATED STATE
$bard-modal-bg: #c6dafc;

// FOOTER
$footer-bg: #36373b;

// FOOTER ICONS
$arrow-bg: #868789; // far left
$arrow-icon: #e8e9ed; // far left

$plus-bg: #5e6267; // center
$plus-icon: #e8e9ed; // center

$tab-bg: #36373b;
$tab-icon: #e8e9ed; // far right
$dots-icon: #e8e9ed; // far right
